<app-header></app-header>

<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>CATÃO SOLUÇÕES TECNOLÓGICAS</span>
            <h1>A solução que você busca para seu negócio</h1>
        </div>
        <img ngSrc="./assets/Principal.jpg" 
            alt="Imagem com duas mulheres prestando consultoria"
            width="600"
            height="500"            
        />
    </section>

    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                95% das <br/>
                Empresas
            </h2>
        </div>
        <p>não sabem como lidar com problemas de <br />
            <b>escalabilidade</b> e grande volume de <br/> 
            requisições.
        </p>
    </section>

    <section class="cta-section">
        <app-btn-primary btn-text="Fale com nossos especialistas"></app-btn-primary>
    </section>

    <app-newsletter-form></app-newsletter-form>

    <app-footer></app-footer>
</main>